[submodule "Jodin-Java"]
	path = Jodin-Java
	url = https://github.com/JoshuaRadin37/Jodin-Java.git
	branch = master
[submodule "Jodinc"]
	path = Jodinc
	url = https://github.com/JoshuaRadin37/Jodinc.git
	branch = master
[submodule "Jodin-std-lib"]
	path = Jodin-std-lib
	url = https://github.com/JoshuaRadin37/Jodin-std-lib.git
	branch = master
